/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Lobster:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&family=Inter&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #FF9F0D;
  --first-color-alt: #c87e0d;
  --title-color: #393939;
  --text-color: #707070;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

.modal-content {
  display: show;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  width: 1200px;
  color: #1E1E1E;
  background-color: #FFFFFF;
}

body.dark-theme {
  background-color: #1E1E1E;
  color: #FFFFFF;
}

.home {
  height: 600px;
}

h1, h2, h3, .nav__logo, .footer__logo, span {
  font-family: 'Abhaya Libre', serif;
}

h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 68px;
  margin-top: 24px;
  margin-bottom: 36px;
}

h2 {
  color: var(--first-color);
  margin-top: 24px;
}

h3 {
  font-size: 24px;
  margin-bottom: 0;
}

.home__p {
  width: 440px;
  margin-bottom: 64px;
}

.button {
  font-family: 'Inter', sans-serif;
  background-color: var(--first-color);
  color: #1E1E1E;
  padding: 18px 57px;
  border-radius: 8px;
  border-width: 0;
}

button {
  border: #FFFFFF;
  background-color: #FF9F0D;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.remove {
  background: none;
}

.button:hover {
  cursor: pointer;
  opacity: 0.6;
}

p {
  font-family: 'Inter';
  font-size: 16px;
  line-height: 24px;
  color: #393939;
}

.dark-theme p {
  color: #cecece;

}

.nav__list {
  display: flex;
  width: 560px;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.nav__menu {
  float: right;
}

a {
  text-decoration: none;
  color: #1E1E1E;
}

.dark-theme a {
  text-decoration: none;
  color: #FFFFFF;
}

li {
  list-style: none;
  font-family: 'Inter', sans-serif;
  line-height: 24px;

}

ul {
  margin: 0;
  padding: 0;
}

.nav__item a:hover {
  color: #FF9F0D;
}

.nav.bd-container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.bd-container {
  margin-top: 120px;
}

.nav__logo, .footer__logo {
  font-size: 24px;
  line-height: 32px;
}

.home__container {
  display: flex;
  justify-content: space-between;
}

.home__img {
  width: 560px;
}

p.about__description {
  margin-bottom: 64px;
}

.about__container {
  display: flex ;
  justify-content: space-between;
}

.about__img {
  width: 560px;
  height: 400px;
  object-fit: cover;
}

.services__img {
  width: 100%;
  z-index: -10;
  position: absolute;
  opacity: 0.15;
  height: 420px;
  object-fit: cover;
  border-radius: 16px;
}

.services.bd-container {
  position: relative;
  min-height: 500px;
  margin-top: 240px;
}

.services.section-title {
  position: absolute;
  padding: 64px;
  top: 0px;
}

.services__container {
  position: absolute;
  top: 120px;
  padding: 64px;
}

.services__container p {
  width: 90%;
}

.bd-grid {
  display: flex;
  justify-content: space-between;
}

.menu__content {
  width: 300px;
  text-align: center;
  margin-top: 64px;
}

.menu__content p {
  margin-bottom: 16px;
  margin-top: 8px;
}


.app__description {
  max-width: 400px;
}

.app__store {
  width: 200px;
  margin-right: 12px;
  margin-top: 24px;
}

.app__store:hover{
  opacity: 0.6;
}

.app__container {
  min-height: 400px;
  margin-top: 240px;
}

.name-input, .email-input, .message-input {
  display: flex;
  flex-direction: column;
}

.name-input, .email-input {
  width: 48%;
}

.name-email-div {
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 16px 48px 48px;
  background-color: #cfcfcf;
  border-radius: 16px;
}

label {
  font-family: 'Abhaya Libre', serif;
  margin: 24px 0 8px;
}

input, textarea {
  padding: 14px;
  font-family: 'Inter' sans-serif;
  border: none;
  color: #1E1E1E;
  border-radius: 8px;
  resize: none;
}

textarea {
  margin-bottom: 36px;
}

input::placeholder, textarea:-moz-placeholder {
  font-family: 'Inter' sans-serif;
}

.contact__data {
  width: 500px;
}

.socials {
  margin-top: 44px;
  display: none;
}

.footer__title {
  margin-top: 0;
}
footer {
  padding: 48px 0;
}

.app__img {
  width: 600px;
  margin-top: -50px;
}

.dark-theme form {
  background-color: var(--title-color);
}

.socials-dark {
  display: block;
  margin-top: 44px;
}

.dark-theme .socials-dark {
  display: none;
}

.hide-item {
  display: none !important;
}

#toggle-cart {
  position: fixed;
  bottom: 28px;
  right: 28px;
  cursor: pointer;
  box-shadow: 0px 0px 16px 8px #8484841a;
}

.cart-popup {
  position: fixed;
  bottom: 24px;
  right: 24px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 16px 8px #8484841a;
  padding: 24px 36px 20px;
  border-radius: 8px;
  width: 360px;
  display: flex;
  flex-direction: column;
}

#cart-price {
  font-family: 'Inter', sans-serif;
}

.cart-popup h3 {
  font-size: 28px;
}

a.button.checkout {
  text-align: center;
}

#close {
  width: 36px;
  padding: 2px;
  cursor: pointer;

}
#close:hover {
  opacity: 0.4;
}


.cart-top {
  display: flex;
  justify-content: space-between;
  
  margin-bottom: 24px;
}

.cart-top h3 {
  margin-top: 12px;
}
